#eyecatch {
  width: 645px;
  text-align: center;
  display: table;
  vertical-align: middle;
  overflow: hidden;
  position: relative;
  margin-bottom: 3em;
}
#ec_main {
  width: 645px;
  height: 390px;
  overflow: hidden;
  float: left;
}
#ec_main li {
  display: none;
}
#ec_main img {
  width: 645px; 
}
.main strong {
  font-size: 18px;
  display: block;
  border-bottom: 1px solid #000;
  font-weight: bold;
  margin-bottom: 1em;
  padding-bottom: 0.5em;
  font-weight: normal;
}
#recommend_items li {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
  display: block;
}
#recommend_items img {
  width: 150px;
}
